* {
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
body {
  font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #ebebeb; 
  background: #777;
  font-size: 18px;
  }
 

  header, nav, section, aside, footer {
    background: #ebebeb;
    color: #777;
    max-width: 960px;
}
 
header {
    
    padding: 40px;
    margin: 15px auto;
   
 }
 
 nav {
    padding: 40px;
    margin: 15px auto;
    
    margin-bottom: 20px;
}
 section {
    color: #777;
    background: #ebebeb;
    align-content: center;
    margin:10px auto;
    float: left;
    width: 35%;
    margin-left: 280px;
    height: 300px;
    
 }
    

 .section {
    margin-top: 5%;
}

 aside {
    
    color: #777;
    background: #ebebeb;
    float: right;
    margin: 10px 280px 20px auto;
    width: 26.5%;
    padding-bottom: 233px;
    
   
   }

 .aside {
margin-top: 7%;
}
 article {
    
    margin: auto;
    width: 95%;
    color: #ebebeb;
    background: #777;
    margin-top: 4%;
    margin-bottom: 1%;
    padding: 5% 4%;
    
}
 .h1 {
   align-content: center;
    color: #777;
    background: #ebebeb;
    width: 100%;
    height: 6%;
    
    
}
 .p {
   align-content: center;
    color: #777;
    background: #ebebeb;
    width: 100%;
    height: 6%;
}




 footer {
   float: left;
   padding: 40px;
   margin:  auto;
   width: 960px;
   margin-left: 280px;
   margin-top: 10px;

}

